<h2>編集画面</h2>

<%= form_with model: @posts, local: true do |f| %>

<div class="form-group">
<label for="">タイトル:</label>
<%= f.text_field :title, placeholder: 'enter title', class: 'form-control' %>
</div>

<div class="form-group">
<label for="">内容:</label>
<%= f.text_area :body, placeholder: 'enter body text', class: 'form-control' %>
</div>

<%= f.submit 'Update New Post', class: 'btn btn-primary' %>

<% end %>