<h2>My posts</h2>

<ul>
<% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post.id) %><%= link_to '編集', edit_post_path(post.id), class: "btn btn-primary" %></li>
    <% end %>
</ul>
<%= link_to '新規作成',new_post_path, class: "header-menu btn btn-primary" %>